<%- include('partials/header') %>

<form class="access" action="/login" method="post">
    <h1>Log In</h1>
    <input type="email" name="email" id="" placeholder="Emaill Address">
    <input type="password" name="password" id="" placeholder="Passoword">
    <input type="submit" value="Create Account">
    <p>Don't have an account? <a href="/signup">signup</a></p>
    </form>

<%- include('partials/footer') %>
    
