@font-face {
    font-family: ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: ubuntu;
    box-sizing: border-box;
}

.error {
    background-color: #ff2525;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

header {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: rgb(62, 62, 62);
    margin-bottom: 10px;
}

nav a {
    padding: 5px 0;
    margin-left:10px ;
}

nav a:hover {
    border-bottom: 2px solid black;
}

.access {
    width: 450px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 60px auto 0;
}

.access h1 {
    text-align: center;
}

.access input {
    font-size: 18px;
    padding: 4px;
}

.access input[type="submit"]{
    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 3px;
}

.access input[type="submit"]:hover{
    background-color: #5555;
}

.access a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(55, 41, 145);
}

.access a:hover {
    text-decoration: 2px solid #383838 ;
}

#account #profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#account #profile * {
    width: max-content;
    margin: 0 auto;
}

#account #profile div {
    width: 200px;
    height: 200px;
}

#account #profile img {
    width: 100%;
    border-radius: 50%;
}

#account #profile p {
    font-size: 19px;
}

#account #profile a {
    background-color: aquamarine;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#edit-account form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#edit-account form * {
    width: max-content;
}

#edit-account form > input {
    font-size: 18px;
    margin-bottom: 5px;
}

#edit-account div * {
    font-size: 16px;
    color: #fff;
    padding: 4px 8px;
    cursor: pointer;
}

#edit-account div a {
    background-color: #ff2525;
    text-decoration: none;
    border: 1px solid #ff2525;
    border-radius: 5px;
}

#edit-account div input {
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5px;
}

#dashboard {
    width: 60%;
    margin: 0 auto;
   }

#dashboard form {
    display: flex;
    flex-direction: column;
    gap: 8px;    
    margin-bottom: 8px;
}

#dashboard form textarea {
    font-size: 18px;
    padding: 8px;
}

#dashboard form input {
    width: max-content;
    font-size: 18px;
    padding: 4px 8px;
    color: #fff;
    background-color: rgb(55, 41, 145);
    border: 1px solid rgb(55, 41, 145);
    border-radius: 5px;
}

#dashboard .post {
    margin-bottom: 10px;
}

#dashboard .post div {
    display: flex;
}

#dashboard .post  div a {
    color: rgb(55, 41, 145);
    text-decoration: none;
    margin-right: 5px;
}

#dashboard .post  div p {
    color: rgb(94, 94, 94);

}